.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.todolist {
  border: 3px solid darkred;
  border-radius: 2px;
  padding: 40px;
  background-color: dodgerblue;
}
.todolist1 {
  border: 3px solid darkred;
  border-radius: 2px;
  padding: 30px;
  background-color: mediumaquamarine;
}
.todolist2 {
  border: 3px solid darkred;
  border-radius: 2px;
  padding: 30px;
  background-color: hotpink;
}

.task {
  font-weight: bold;
  margin-left: 5px;
}
.task-not-isdone {
  font-weight: normal;
  text-decoration: line-through;
  margin-left: 5px;
}
.filter-btn {
  background-color: darkmagenta;
  color: white;
  border-color: gray;
  border-radius: 3px;
  padding: 3px 10px;
}
.filter-btn-active {
  background-color: gold;
  color: black;
}

.filter-btn-wrapper {
  display: flex;
  justify-content: space-between;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 1px 0;
}

h3 {
  text-align: center;
  font-size: xx-large;
  margin: 2px;
}

.input-error {
  border: 2px solid red;
  outline: none;
}
